<html ng-app="ionicApp">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Checkboxes</title>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  
    <script src="script.js"></script>
  </head>

  <body ng-controller="MainCtrl">

    <ion-view view-title="Checkboxes">
      <ion-content ng-controller="TheorieCtrl">
        <div class="list">
          {{ $storage | json }}

          <ion-list>
            <ion-checkbox ng-repeat="thema in $storage.themen track by $index" class="checkbox-positive" type="checkbox" id="{{thema.id}}" ng-model="thema.checked" ng-change="updateThemaLocalStorage(themen)">
              Checked: {{ thema.checked }}
              <br> onChange to: {{ thema.checked }}
              <br> Name {{ thema.name }}
            </ion-checkbox>
          </ion-list>
          </ion-content>
        </ion-view>
      </body>

    </html>