checklist_header { /* customise the header background */
    background-color: #0af2a5;
    padding: 20px 20px 5px 20px
}

.website_checklist p {
    padding-bottom: 0;
    font-size: 20px;
    color: #1d0d6f;
    padding: 20px 20px 5px 20px
}

.website_checklist ul {
    list-style: none!important; /* Remove the list style */
    padding: 15px 0 0 0!important
}

.website_checklist ul label {
    font-size: 16px;
    line-height: 1.4;
    padding: 13px 24px 13px 64px;
    display: block;
    position: relative;
    z-index: 100;
    cursor: pointer
}

.website_checklist ul input,
.website_checklist ul li.focus:before {
    left: 0;
    top: 0;
    position: absolute
}

.website_checklist li {
    position: relative
}

.website_checklist ul li.focus:before {
    left: 0;
    top: 0;
    position: absolute
}

.website_checklist ul input {
    opacity: 0
}

.website_checklist ul li.focus:before,
.website_checklist ul span.input:before {
    content: ""
}

.website_checklist ul span.input {
    background-image: linear-gradient(90deg, #1d0d6f 0, #5430ce 100%);
    background-color: #1d0d6f;
    width: 26px;
    height: 26px;
    left: 24px;
    top: 10px
}

.website_checklist ul span.input:before {
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px
}

.website_checklist ul span,
.website_checklist ul span:after,
.website_checklist ul span:before {
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 50%
}

.website_checklist ul li.checked span.input { /* CSS to make the background green when checked - we add the class checked using javascript */
    background: #0af2a5
}

.website_checklist ul li.checked span.input:before {
    background: #0af2a5
}

.website_checklist ul li.checked label { /* when checked, make the text have a line through */
    text-decoration: line-through
}

.website_checklist ul li.checked.focus:before {
    background: #888
}

.website_checklist ul li.focus {
    background: #fafafa
}

.website_checklist ul li.checked {
    background: #f1f1f1
}